<!doctype html>
<html lang="en">
  <head>
    <title>mj026 - martijn jacobs</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="title" property="og:title" content="MJ026 - Martijn Jacobs" >
    <meta
      name="description"
      property="og:description"
      content="Hi, I'm Martijn Jacobs, a python web developer based in Arnhem, NL" >
    <meta name="image" property="og:image" content="/images/logo.png" >
    <script type="module" src="/ts/main.ts"></script>
    <link rel="icon" type="image/svg" href="/favicon.svg" >
    <link rel="stylesheet" href="/css/main.css" >
  </head>

  <body
    class="antialiased flex flex-col h-screen text-lg text-gray-600 dark:text-zinc-200 dark:bg-zinc-900">
    <!-- Header -->
    <header
      class="relative sticky top-0 z-20 backdrop-blur drop-shadow-lg px-4 bg-mj-blue/90 dark:bg-zinc-900">
      <div class="mx-auto max-w-5xl px-4 h-16 flex items-center justify-between">
        <a href="/" title="mj026">
          <figure>
             <svg aria-label="026" role="img" width="125" height="125" viewBox="0 0 2194 651" xmlns="http://www.w3.org/2000/svg">
              <g id="MJ026-Shape-copy">
                <filter id="filter1" x="0" y="0" width="2194" height="651" filterUnits="userSpaceOnUse"
                  primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feGaussianBlur stdDeviation="0" />
                  <feOffset dx="76.604444" dy="64.278761" result="offsetblur" />
                  <feFlood flood-color="#000000" flood-opacity="0.254633" />
                  <feComposite in2="offsetblur" operator="in" />
                  <feMerge>
                    <feMergeNode />
                    <feMergeNode in="SourceGraphic" />
                  </feMerge>
                </filter>
                <path id="MJ" fill="#ff5141" fill-rule="evenodd" stroke="none" filter="url(#filter1)"
                  d="M 800.381836 37.727295 L 915.836426 37.727295 L 915.836426 499.54541 L 800.381836 499.54541 Z M 684.927246 499.54541 L 800.381836 499.54541 L 800.381836 615 L 684.927246 615 Z M 389.363647 37.727295 L 504.818115 37.727295 L 504.818115 153.181885 L 389.363647 153.181885 Z M 43 37.727295 L 273.909058 37.727295 L 273.909058 153.181885 L 158.454529 153.181885 L 158.454529 615 L 43 615 Z M 389.363647 615 L 273.909058 615 L 273.909058 153.181885 L 389.363647 153.181885 Z M 504.818115 153.181885 L 620.272705 153.181885 L 620.272705 615 L 504.818115 615 Z" />
                <filter id="filter2" x="0" y="0" width="2194" height="651" filterUnits="userSpaceOnUse"
                  primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feGaussianBlur stdDeviation="0" />
                  <feOffset dx="76.604444" dy="64.278761" result="offsetblur" />
                  <feFlood flood-color="#000000" flood-opacity="0.150164" />
                  <feComposite in2="offsetblur" operator="in" />
                  <feMerge>
                    <feMergeNode />
                    <feMergeNode in="SourceGraphic" />
                  </feMerge>
                </filter>
                <path id="026" fill="#ffffff" fill-rule="evenodd" stroke="none" filter="url(#filter2)"
                  d="M 1919.490967 268.63623 L 2150.399902 268.63623 L 2150.399902 615 L 1804.036377 615 L 1804.036377 37.727295 L 2150.399902 37.727295 L 2150.399902 153.181885 L 1919.490967 153.181885 Z M 1919.490967 499.54541 L 2034.945313 499.54541 L 2034.945313 384.09082 L 1919.490967 384.09082 Z M 1393.018188 268.63623 L 1623.927246 268.63623 L 1623.927246 153.181885 L 1393.018188 153.181885 L 1393.018188 37.727295 L 1739.381836 37.727295 L 1739.381836 384.09082 L 1508.472656 384.09082 L 1508.472656 499.54541 L 1739.381836 499.54541 L 1739.381836 615 L 1393.018188 615 Z M 1212.909058 499.54541 L 1212.909058 153.181885 L 1097.45459 153.181885 L 1097.45459 499.54541 Z M 982 37.727295 L 1328.363647 37.727295 L 1328.363647 615 L 982 615 Z" />
              </g>
            </svg>
          </figure>
        </a>
        <div class="flex items-center gap-1">
          <!-- Dark mode -->
          <button
            type="button"
            class="btn-dark-mode flex shrink-0 justify-center items-center gap-x-1 text-xs hover:text-mj-orange ">
            <svg
              class="shrink-0 size-6 dark"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              aria-label="mj"
              role="img">
              <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
            </svg>
            <svg
              class="shrink-0 size-6 light"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              aria-label="026"
              role="img">
              >
              <circle cx="12" cy="12" r="4"></circle>
              <path d="M12 2v2"></path>
              <path d="M12 20v2"></path>
              <path d="m4.93 4.93 1.41 1.41"></path>
              <path d="m17.66 17.66 1.41 1.41"></path>
              <path d="M2 12h2"></path>
              <path d="M20 12h2"></path>
              <path d="m6.34 17.66-1.41 1.41"></path>
              <path d="m19.07 4.93-1.41 1.41"></path>
            </svg>
          </button>
          <!-- END Dark mode -->
        </div>
      </div>
    </header>
    <!-- END Header -->

    <!-- Main Content -->
    <main class="mx-auto flex max-w-lg md:max-w-5xl lg:min-w-5xl flex-auto flex-col px-4 py-4">
    	{% block content %}{% endblock %}
      {% block after-content %}{% endblock %}
    </main>
    <!-- END Main Content -->

    {% block footer %}
      <!-- START Footer -->
      <footer class="px-4 py-8 block">
        <div class="mx-auto max-w-lg md:max-w-5xl text-sm">
          {% block colophon %}
            {% render "src/content/blocks/colophon.liquid" %}
          {% endblock %}
          {% block contact %}
            {% render "src/content/blocks/contact.liquid" %}
          {% endblock %}
        </div>
      </footer>
      <!-- END Footer -->
    {% endblock %}
  </body>
</html>
