<!-- START About -->
<div class="pt-8">
<div class="block">
  <div class="max-w-3xl mx-auto">
    <template data-template-engine="showdown">## about</template>
    <div class="about mt-5">
      <template
        data-template-engine="showdown"
        data-template-path="content/blocks/about.md"></template>
    </div>
  </div>
</div>
</div>
<!-- END About -->
