<div class="pt-8">
  <div class="blog-overview block" id="blog">
    <div class="max-w-3xl mx-auto">
      <template data-template-engine="showdown">## blog</template>
      <div class="about mt-5">
        <ul>
          <li>
            <h3 class="text-md font-semibold">January 21, 2025</h3>
            <a class="text-xl" href="/django-sync-or-async.html">
              Django sync or async, that's the question</a
            >
          </li>
          <li>
            <h3 class="text-md font-semibold">June 22, 2024</h3>
            <a class="text-xl" href="/private-pypi-with-aws-codeartifact.html">
              A Private PyPI server with AWS CodeArtifact</a
            >
          </li>
          <li>
            <h3 class="text-md font-semibold">March 27, 2023</h3>
            <a
              class="text-xl"
              href="/beautiful-asserts-with-your-django-test-client.html">
              Beatiful asserts with your Django Test Client</a
            >
          </li>
          <li>
            <h3 class="text-md font-semibold">August 29, 2022</h3>
            <a class="text-xl" href="/structural-pattern-matching-with-python.html">
              Structural Pattern Matching with Python</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
