<div
  class="flex flex-col md:flex-row flex-wrap justify-between rounded-xl px-8 pt-6 gap-y-4">
  <div class="flex flex-col">
    <div><span class="font-semibold work-sans">company</span></div>
    <div>
      <span class="font-semibold">kvk</span>
      <span>53073231</span>
    </div>
    <div>
      <span class="font-semibold ">btw</span>
      <span>NL 001916128B66</span>
    </div>
    <div>
      <span class="font-semibold">iban</span>
      <span>NL07 RABO 0137 5651 35</span>
    </div>
  </div>
  <div class="flex flex-col">
    <span class="font-semibold work-sans">contact</span>
    <div>
      <span class="font-semibold">e: </span>
      <a href="mailto:contact@mj026.nl">contact@mj026.nl</a>
    </div>
    <div>
      <span class="font-semibold">w: </span>
      <a href="https://www.mj026.nl">www.mj026.nl</a>
    </div>
    <div>
      <span class="font-semibold">l: </span>
      <a href="linkedin.com/in/mj026/">linkedin.com/in/mj026</a>
    </div>
  </div>
  <div class="flex flex-col">
    <span class="font-semibold work-sans">address</span>
    <div>kantoorgebouw de enk</div>
    <div>tivolilaan 205</div>
    <div>6824bv, arnhem (nl)</div>
  </div>
</div>
