<!-- START PROJECTS -->
<div class="pt-8">
<div class="projects block">
  <div class="max-w-3xl mx-auto">
    <template data-template-engine="showdown">## projects</template>
    <template
      data-template-engine="liquidjs"
      data-template-path="content/partials/projects-homepage.liquid"
      data-template-json="content/data/projects.json"></template>
  </div>
</div>
</div>
<!-- END Projects -->
